/* ===============
   GLOBAL STYLES 
   =============== */
html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
}

h5 {
  color: #444;
  border-bottom: 2px solid rgba(0, 0, 0, .2);
  text-align: center;
  background-color: #F5F5F5;
  padding: 10px;
  font-weight: bold;
}

h6 {
  color: #444;
  font-weight: bold;
}

/* ===============
   WESTAF 
   =============== */
@font-face {
  font-family: 'oswald';
  src: url('/font/Oswald-Regular.ttf');
}

.westaf {
  color: white;
  background-color: #1F2367;
  background-color: #003098;
}

.westaf:hover {
  color: #444;
  background-color: #fff;
  border-bottom: 2px solid #1F2367;
  font-weight: 900;
}

.westaf-font {
  font-family: 'Oswald', sans-serif;
  /* colord */
}

.westaf-font-2 {
  font-family: Arial, Helvetica, sans-serif;
}


/* ===============
   ZAPPLICATION 
   =============== */
@font-face {
  font-family: 'chivo';
  src: url('/font/Chivo-Regular.ttf');
}

.zapp-font-chivo {
  font-family: 'chivo';
  font-size: 13px;
  font-weight: normal;
  color: #444;
}

.zapp-font-verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #444;
}

.zapp-font-roboto {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #444;
}

.zapp {
  background-color: #1A5B84;
}

.zapp:hover {
  color: #444;
  background-color: #fff;
  border-bottom: 2px solid #1A5B84;
  font-weight: 900;
}


/* ===============
   PAA 
   =============== */
.paa-font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.paa-font-arial {
  font-family: Arial, Helvetica, sans-serif;
}


.paa {
  background-color: #978980;
}

.paa:hover {
  color: #444;
  background-color: #fff;
  border-bottom: 2px solid #978980;
  font-weight: 900;
}


/* ===============
   CAFE 
   =============== */
.cafe-font {
  font-family: Arial, Helvetica, sans-serif;
}

.cafe {
  background-color: #BAD44F;
}

.cafe:hover {
  color: #444;
  background-color: #fff;
  border-bottom: 2px solid #BAD44F;
  font-weight: 900;
}



/* ===============
   IM TOUR 
   =============== */
.imtour-font-roboto {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* color: #444; */
}


.imtour {
  background-color: #58C4C3;
}

.imtour:hover {
  color: #444;
  background-color: #fff;
  border-bottom: 2px solid #58C4C3;
  font-weight: 900;
}


/* ===============
   TOUR WEST  
   =============== */
@font-face {
  font-family: 'helvetica-neue';
  src: url('/font/HelveticaNeue-Medium.otf');
}

.tourwest-font-helvetica-nenu {
  font-family: 'helvetica-neue';
}


.tourwest {
  background-color: #80A602;
}

.tourwest:hover {
  color: #444;
  background-color: #fff;
  border-bottom: 2px solid #80A602;
  font-weight: 900;
}


/* ===============
   CV SUITE 
   =============== */
.cvsuite-font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.cvsuite-font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.cvsuite {
  background-color: #387A7F;
}

.cvsuite:hover {
  color: #444;
  background-color: #fff;
  border-bottom: 2px solid #387A7F;
  font-weight: 900;
}


/* ===============
   GO SMART 
   =============== */
@font-face {
  font-family: 'helvetica';
  src: url('/font/Helvetica.woff');
}

.gosmart-font-helvetica {
  font-family: 'helvetica';
}

.gosmart-font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.gosmart {
  background-color: #19B9C5;
  border-bottom: 2px solid #19B9C5;
}

.gosmart:hover {
  color: #444;
  background-color: #fff;
  border-bottom: 2px solid #19B9C5;
  font-weight: 900;
}

/*** -------------END PROGRAM FONTS & COLOR STYLES  ------------- ***/



/* ===============
   GRID STYLES
   =============== */
.no-padding {
  padding-left: 0;
  padding-right: 0;
}

/* grid */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

/* items */
.container>* {
  color: #444;
  /* font-size: 1.2em; */
  /* line-height: 1.5; */
  padding: 10px;
  background: #dcdcdc;
}

/* ===============
  NAV STYLES
   =============== */
.container nav {
  background: #dcdcdc;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #777;
}

nav a:hover {
  text-decoration: none;
}

a {
  color: #555;
}

a:hover {
  color: #666;
  font-weight: bold;
}

/* ===============
   HEADER STYLES
   =============== */
.header-banner {
  display: flex;
  justify-content: center;
  background-color: #fff !important;
  flex-direction: column;
  align-items: center;
}

.header-westaf-logo {
  width: 200px;
}

.header-icons {
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
}

.header-program-button {
  color: white;
  width: 120px;
  height: 20px;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
}

.header-program-button:hover {
  color: #777;

}

.header-programs-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
}

/* ===============
   SIDEBAR STYLES 
   =============== */
.sidebar-hamburger {
  font-size: 24px;
}

.sidebar-links {
  list-style-type: none;
  /* color: #444; */
}

.sidebar-link {
  list-style-type: none;
  color: #444;
}

.sidebar-link:hover {
  list-style-type: none;
  text-decoration: none;
  color: #777;
  font-weight: bold;
}

/* ===============
   PROGRAM PAGE STYLES 
   =============== */
.program-section-title {
  font-weight: 100;
  font-size: 32px;
  margin-top: 30px;
}

.program-main-container {
  padding: 0 20px 0 20px;
}

.program-logo-container {
  max-width: 400px;
  padding-top: 10px;
}

.program-links {
  padding-bottom: 50px;
  background-color: #fff !important;
}

.program-text {
  padding: 20px 20px 20px 0;
  font-size: 1.2em;
  line-height: 1.5;
}

.wordmark {
  max-height: 100px;
  max-width: 100px;
}

.program-color-container {
  display: flex;

}

.program-color {
  border-radius: 10%;
  margin: 0 10px 0 0; 
  height: 100px;
  width: 100px;
}

/* ===============
   FOOTER STYLES 
   =============== */
.footer-container {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 12vw;
  color: #777777;
}

.footer-icon-flex {
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;

}


.footer-icons {
  font-size: 20px;
  padding: 0 5px 0 5px;
  color: #777777;
}

.footer-icons:hover {
  font-size: 20px;
  padding: 0 5px 0 5px;
  color: #444;
}


.footer-nea {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*** -------------END PAGE PROGRAM STYLES  ------------- ***/



/* ===============
   MEDIA QUERIES
   =============== */


/* media query for grid layout */
@media only screen and (min-width: 600px) {

  /* grid */
  .container {
    grid-template-columns: repeat(4, 1fr);
  }

  /* specific item styles */
  .container header,
  .container nav {
    grid-column: span 4;
  }

  .container section {
    grid-column: span 3;
  }

  /* nav styles */
  nav ul li {
    display: inline-block;
    padding: 0 10px 0 0;
  }

  /* hide toggle */
  .toggle {
    display: none;
  }
}



/* media query for nav styles */
@media only screen and (max-width: 599px) {

  #nav {
    transition: transform .3s ease-in-out;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    /* override Safari bug */
    position: fixed;
    /* or choose `absolute` depending on desired behavior*/
    width: 300px;
    left: -340px;
    padding-top: 30px;
    padding-right: 20px;
    border-right: 2px solid #dcdcdc;
    -webkit-box-shadow: 2px 0 5px -2px #dcdcdc;
    box-shadow: 2px 0 5px -2px #dcdcdc;
  }

  #nav:target {
    transform: translateX(340px);
  }

  .sidebar-padding {
    padding-top: 42px;
  }

  .header-programs-flex {
    padding-top: 20px;
  }

  .close {
    text-align: right;
    display: block;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    top: -30px;
    color: #444;
  }

  .icons {
    display: none;
  }

  .button-box {
    margin-top: 20px;
  }

  .banner {
    display: auto;
    justify-content: inherit;
  }

  /* nav styles */
  .container nav {
    background: #dcdcdc;
    display: initial;
    justify-content: initial;
  }

  .program-logo-container {
    width: 100%;
  }

  .program-color {
    max-height: 50px;
    max-width: 50px;
  }

  .program-color-text {
    font-size: 10px;
  }

  .footer-text {
    margin-left: 20px;
  }

  .footer-icon-flex {
    display: flex;
    justify-content: flex-start;
    padding-left: 60px;
    /* margin-right: 200px; */

  }
}


@media (min-width: 600px) and (max-width: 1024px) {
  
  body {
    /* background-color: red;  */

  }

  .program-color {
    /* border-radius: 10%; */
    margin: 0 10px 0 0; 
    height: 70px;
    width: 70px;
  }

  .program-color-text {
    font-size: 10px;
  }
  
}