#beta-banner { 
    display: flex;
    /* justify-content: center; */
    align-items: center;


    display: grid;
    grid-template-columns: repeat(2fr, 1fr, 2fr);
    grid-gap: 10px;





    padding: 8px;
    color: white; 
    max-height: 80px;
    /* background: linear-gradient(#F7AD41, #EE7411); */
    background: linear-gradient(#0065A3, #27A9DE);  
    margin-bottom: 300px;
    border-bottom: 2px solid #fff;
}

/* .left {
display: flex;
justify-content: flex-end;
} */


.parent { 
height: 80px;
display: flex;
justify-content: center;
align-items: center;
align-self: center;
background: linear-gradient(#0065A3, #004976);
color: white;
-webkit-box-shadow: 0 4px 6px -6px #666666;
-moz-box-shadow: 0 4px 6px -6px #666666;
box-shadow: 0 4px 6px -6px #666666;
}

.child { 
display: inline-flex;
justify-content: center;
align-items: center;
align-self: center;
}






/* span {
    position: relative;
    cursor: pointer;
  } */
  /* span:hover:before {
      opacity: 1;
  }
  
  span:before {
    content: attr(aria-label);
    opacity: 0;
    position: absolute;
    top: 30px;
    right: 0px;
    width: 100px;
    padding: 10px;
    color: #4a4a4a;
    background-color: #fff;
    border-radius: 3px;
    pointer-events: none;
  }
  
  div {
    padding: 40px;
    font-size: 20px;
    font-family: sans-serif;
  } */


/*
################
BTN PRIMARY 
################
*/
.btn-primary {
    background-color: #EE7411;
    color: #FFFFFF;
    border: 2px solid #EE7411;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
    box-shadow: 0 4px 6px -6px #666666;
    /* max-width: 130px; */
}


.btn-primary:hover {
    background-color: #FFFFFF;
    color: #004976;
    border: 2px solid #004976;
    border-radius: 4px;
    box-shadow: 0 4px 6px -6px #666666;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
}

/*
################
BTN SECONDARY 
################
*/
.btn-secondary {
    background-color: #80A4BA;
    color: #FFFFFF;
    border: 2px solid #80A4BA;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
    box-shadow: 0 4px 6px -6px #666666;
}


.btn-secondary:hover {
    background-color: #FFFFFF;
    color: #444444;
    border: 2px solid #80A4BA;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
    box-shadow: 0 4px 6px -6px #666666;
}

/*
    ################
    BTN SUCCESS 
    ################
    */

.btn-success {
    background-color: #148137;
    color: #FFFFFF;
    border: 2px solid #148137;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
    box-shadow: 0 4px 6px -6px #666666;
}


.btn-success:hover {
    background-color: #FFFFFF;
    color: #148137;
    border: 2px solid #148137;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
    box-shadow: 0 4px 6px -6px #666666;
}

/*
    ################
    BTN DANGER 
    ################
    */

.btn-danger {
    background-color: #E92228;
    color: #FFFFFF;
    border: 2px solid #E92228;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
    box-shadow: 0 4px 6px -6px #666666;
}


.btn-danger:hover {
    background-color: #FFFFFF;
    color: #E92228;
    border: 2px solid #E92228;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
    box-shadow: 0 4px 6px -6px #666666;
}

/*
    ################
    BTN WARNING  
    ################
    */
.btn-warning {
    background-color: #F7AD41;
    color: #FFFFFF;
    border: 2px solid #F7AD41;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
    box-shadow: 0 4px 6px -6px #666666;
}


.btn-warning:hover {
    background-color: #FFFFFF;
    color: #444444;
    border: 2px solid #F7AD41;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
    box-shadow: 0 4px 6px -6px #666666;
}

/*
    ################
    BTN INFO 
    ################
    */
.btn-info {
    background-color: #F7AD41;
    color: #FFFFFF;
    border: 2px solid #F7AD41;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
    box-shadow: 0 4px 6px -6px #666666;
}


.btn-info:hover {
    background-color: #FFFFFF;
    color: #444444;
    border: 2px solid #F7AD41;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
    box-shadow: 0 4px 6px -6px #666666;
}


/*
################
BTN LIGHT  
################
*/
.btn-info {
    background-color: #FFFFFF;
    color: #444444;
    border: 2px solid #444444;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
    box-shadow: 0 4px 6px -6px #666666;
}


.btn-info:hover {
    background-color: #D9DDDD;
    color: #444444;
    border: 2px solid #444444;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
    box-shadow: 0 4px 6px -6px #666666;
}


/*
################
BTN LINK  
################
*/
.btn-link {
    color: #0065A3;
    text-decoration: underline;
}

.btn-active {
    color: #80A4BA;
    text-decoration: underline;
}

.btn-link:hover {
    color: #004976;
    text-decoration: underline;
}

.btn-link:visited {
    color: #004976;
    text-decoration: underline;
}
